<div class="row">
  <div class="small-2 columns">
  <%= check_box_tag "dine_out" %>
  <%= label_tag 'Did you eat out?' %>
  </div>
</div>

<div class="row">
  <div class="small-2 columns">
    Eggs
    <br>
    Serving Size: 1 Egg)
    <select name="eggs">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    </div>

    <div class="small-2 columns">
    Beef
    <br>
    Serving Size: 3 Ounces)
    <select name="beef">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    </div>

    <div class="small-2 columns">
    Lamb
    <br>
    Serving Size: 5 Ounces)
    <select name="lamb">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    </div>

    <div class="small-2 columns">
    Cheese
    <br>
    Serving Size: 1.5 Ounces)
    <select name="cheese">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    </div>

  <div class="small-2 columns">
    Pork
    <br>
    Serving Size: 3 Ounces)
    <select name="pork">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
  </div>

  <div class="small-2 columns">
    Turkey
    <br>
    Serving Size: 4 Ounces)
    <select name="turkey">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
  </div>
</div>

<div class="row">
  <div class="small-2 columns">
    Chicken
    <br>
    Serving Size: 4 Ounces)
    <select name="chicken">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
  </div>

  <div class="small-2 columns">
    Grains
    <br>
    Serving Size: 3 Ounces )
    <select name="grains">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
  </div>

  <div class="small-2 columns">
Tuna
<br>
Serving Size: 2 Ounces/1 Can)
<select name="tuna">
  <option value="0">0</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
</select>
</div>

<div class="small-2 columns">
Potatoes
<br>
6 Ounces or 1 Medium Potato)
<select name="potatoes">
  <option value="0">0</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
</select>
</div>

<div class="small-2 columns">
Beans
<br>
Serving Size: 4 Ounces)
<select name="beans">
  <option value="0">0</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
</select>
</div>

<div class="small-2 columns">
Milk
<br>
Serving Size: 8 Ounces)
<select name="milk">
  <option value="0">0</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
</select>
</div>
</div>

<div class="row">
  <div class="small-2 columns">
Fruit
<br>
Serving Size: 3.5 Ounces)
<select name="fruits">
  <option value="0">0</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
</select>
</div>

<div class="small-2 columns">
Vegetables
<br>
Serving Size: 3.5 Ounces)
<select name="vegetables">
  <option value="0">0</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
</div>

  <div class="small-2 columns">
  <%= submit_tag 'Submit' %>
  </div>

  <div class="small-2 columns"></div>
</div>






















