<%if @question.identifier == "shower" %>
  <%= number_field_tag 'shower', step: 0.01 %>
<% elsif @question.identifier == "laundry_wash" %>
  <select name="laundry_wash">
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
  </select>
<% elsif @question.identifier == "laundry_dry" %>
  <select name="laundry_dry">
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
  </select>
<% elsif @question.identifier == "tv" %>
  <select name="tv">
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
  </select>
<% elsif @question.identifier == "text_message" %>
  <%= number_field_tag 'text_message', step: 0.01 %>
<% elsif @question.identifier == "short_email" %>
  <%= number_field_tag 'short_email', step: 0.01 %>
<% end %>

<%= submit_tag 'Submit' %>
