
<div class="row">
  <div class="small-5 columns">
    <h2>TRANSPORTATION</h2>
    <%=label_tag @question.content %>
  </div>
  <div class="small-6 columns submit">
    <%= submit_tag 'Submit', class: "button" %>
  </div>
  <div class="small-1 columns">
  </div>
</div>

<div class="row">
  <div class="small-7 columns">
    <div class="food-box">
      Car:
      <input name='car' type='number' step="0.01">
    </div>

    <div class="food-box">
      Bus:
      <input type='number' step="0.01" name='bus'>
    </div>

    <div class="food-box">
      Commuter Rail:
      <input type='number' step="0.01" name='commuter_rail'>
    </div>

    <div class="food-box">
      Subway:
      <input type='number' step="0.01" name='subway'>
    </div>
  </div>

  <div class="small-4 small-uncentered columns fact">
    <h3>FUN FACT!</h3>
    <p>
      <%=@transfacts.sample.content%>
    </p>
  </div>
  <div class="small-1 small-uncentered columns"></div>
</div>
