<div class="row">

  <div class="medium-2 columns">
  Car:
  <input name='car' type='number' step="0.01">
  </div>

  <div class="medium-2 columns">
  Bus:
  <input type='number' step="0.01" name='bus'>
  </div>

  <div class="medium-2 columns">
  Commuter Rail:
  <input type='number' step="0.01" name='commuter_rail'>
  </div>

  <div class="medium-2 columns">
  Subway:
  <input type='number' step="0.01" name='subway'>
  </div>
  <div class="medium-2 columns">
  <%= submit_tag 'Submit' %>
  </div>
    <div class="medium-2 columns"></div>
</div>



