<div class="row">
  <div class="small-12 columns">
    <h2>Sign Up</h2>
  </div>
</div>

<% if @errors %>
<ul>
  <% @errors.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>
<% end %>
<%= render 'new.html.erb' %>


