body ul li {
  list-style-type: none;
}
h1 {
  font-size: 60px;
}
.top-bar {
  margin: 0 auto;
}
.name {
  display: inline-block;
  margin: 0 auto;
  padding: 0px;
}

#head img {
  width: 110px;
  height: 80px;
}
