
body {
  height: 100%;
  padding-bottom: 100px;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

body ul li {
  list-style-type: none;
}
h1 {
  font-size: 60px;
}

#head img {
  width: 110px;
  height: 80px;
}

.small .name  {
    display: inline;
}

.button {
  width: 250px;
  font-weight: bold;
  font-size: 14px;
}

.form-group {
  width: 400px;
}

.top-bar {
  border-bottom: 1px solid #C58E4D;
  margin-left: 120px;
}

.breadcrumbs {
  padding: 0px 15px;
  margin: 0px;
}

.nav-button {
  width: 300px;
  height: 45px;
  border-radius: 10px;
  background-color: #C58E4D
}

.food select {
  width: 60px;
  height: 40px;
}

.submit {
  border-radius: 6px;
}

.food-box {
  dipsplay: inline-block;
  width: 25%;
  min-height: 130px;
  clear: right;
  float: left;
  border-left: 4px solid;
  margin-top: 20px;
  padding-left: 5px;
}

.trans-box {
  display: inline-block;
  width: 25%;
  min-height: 100px;
  clear: right;
  float: left;
  border-left: 4px solid;
  margin-top: 20px;
  padding: 10px 10px 0px;
}

.trans-box input {
  width: 60px;
  background-color: #E2D9A6;
}

.life-box {
  margin: 0 auto;
  width: 58%;
}

.life-box input {
  width: 60px;
  background-color: #E2D9A6;
}

.life-box select {
  width: 60px;
  height: 40px;
}

.fact {
  border-left: 1px solid;
}

.fact h3 {
  color: #978D4F;
  border-bottom: 1px solid;
  padding-left: 3px;
}
.fact p {
  font-size: 30px;
}

.question-header {
  min-width: 170px;
}

.trans {
  min-width: 280px;
}

.question-header h3 {
  font-size: 40px;
  float: right;
}
.question-check {
  clear: both;
  float: left;
}

#question-show {
  padding-bottom: 100px;
}

#footer {
  heigth: 100px;
  color: #E2D9A6;
  background-color: #4B3414;
  position: absolute;
  width: 100%;
}

#purple_map_marker {
  background-color: purple;
}

#blue_map_marker {
  background-color: blue;
}
#green_map_marker {
  background-color: green
}
#yellow_map_marker {
  background-color: yellow
}
#orange_map_marker {
  background-color: orange
}
#red_map_marker {
  background-color: red
}

#pie-table {
  width: 300px;
}
